argparse
bumpversion==0.5.3
coverage==4.1
cryptography==1.4
flake8==2.6.0
flask
mock
pip==8.1.2
plumbum==1.6.2
pre-commit
pytest==2.9.2
PyYAML==3.11
Sphinx==1.4.8
tox==2.3.1
watchdog==0.8.3
wheel==0.29.0
