argparse==1.4.0
bumpversion==0.5.3
black==19.10b0
coverage==5.0.3
cryptography==2.8
flask==1.1.1
mock==4.0.1
pip==21.1.2
plumbum==1.6.8
pytest==5.3.5
PyYAML==5.3
Sphinx==2.4.1
tox==3.14.3
wheel==0.34.2
watchdog==0.10.2
