argparse==1.4.0
bumpversion==0.5.3
coverage==4.2
cryptography==1.4
flake8==2.6.0
flask==0.11.1
mock
pip==9.0.1
plumbum==1.6.2
pre-commit
pytest==2.9.2
PyYAML==3.11
Sphinx==1.4.8
tox==2.3.1
watchdog==0.8.3
wheel==0.29.0
